---
import '../styles/global.css';

const pageTitle = "Sobre mi";

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
				h1 {
					color: purple;
					font-size: 4rem;
				}
				.skill {
					color: var(--skillColor);
					font-weight: var(--fontWeight);
					text-transform: var(--textCase);
				}
			</style>
  </head>

	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre mi</a>
		<a href="/blog/">Blog</a>

		<main>
			<h1>{pageTitle}</h1>
			<h2>Mi sitio Astro</h2>
		</main>
	
	</body>
</html>
